; =====================================================
; ================= ZONEMOD CHANGES ===================
; =====================================================

; =====================================================
;
;     Zonemod Infected Ladder Fixes/Additions
;
; =====================================================
; -- Add an infected ladder to get over the fence at the end saferoom (replace ProMod props)
{
	"model" "*27"
	"normal.z" "0.00"
	"normal.y" "0.86"
	"normal.x" "-0.49"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "6339 -3221.46 177.93"
	"angles" "-4.00 300.00 0.00"
}
; -- Add an infected ladder to get on the saferoom roof (replace ProMod props)
{
	"model" "*27"
	"normal.z" "0.00"
	"normal.y" "0.99"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "4415 -2813.67 234.93"
	"angles" "-4.00 270.00 0.00"
}

; =====================================================
; =============     RL4D2L ADDITIONS    ===============
; =====================================================
; By Wicket
add:
; --- add infected ladder onto first broken-down house
{
	"model" "*27"
	"normal.z" "0.07"
	"normal.y" "-0.99"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-1603.00 6281.50 -16.12"
	"angles" "0.00 90.00 0.00"
}
add:
; --- block stuck spot on rock barnacle things in the corner swamp at the event holdout spot
{
	"origin" "-4398.5 3202 0"
	"mins" "-0.1 -0.1 0"
	"maxs" "0.1 0.1 54.38"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- add two extra trees near the first ammo spawn for potential spawns
{
	;stump in water
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_foliage/swamp_cypress_stump01.mdl"
	"solid" "6"
	"origin" "-4783 3255 -15"
}
{
	;tree to pressure spawn blockers along the right
	"classname" "prop_dynamic"
	"angles" "0 0 0"
	"disableshadows" "1"
	"model" "models/props_foliage/swamp_cypress_medium_grnd01.mdl"
	"solid" "6"
	"origin" "-5315 3032 12"
}
; --- place an infected ladder on both sides of the plane nose
{
	"model" "*27"
	"normal.z" "0.07"
	"normal.y" "0.00"
	"normal.x" "-0.99"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-43.00 677.00 -12.00"
	"angles" "0.00 0.00 0.00"
}
{
	"model" "*27"
	"normal.z" "0.07"
	"normal.y" "0.00"
	"normal.x" "0.99"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "-3953.00 7177.00 -10.00"
	"angles" "0.00 180.00 0.00"
}
; --- log props for above two ladders
{
	"classname" "prop_dynamic"
	"angles" "0 245 90"
	"disableshadows" "1"
	"model" "models/props_foliage/swamp_fallentree_dry01.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "-2089 3948 -475"
}
{
	"classname" "prop_dynamic"
	"angles" "0 88 90"
	"disableshadows" "1"
	"model" "models/props_foliage/swamp_fallentree_dry01.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "-1916 3903 -350"
}
; --- ladder replacing old promod log ramp onto building post-plane
{
	"model" "*27"
	"normal.z" "0.07"
	"normal.y" "0.00"
	"normal.x" "-0.99"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "3910.00 62.00 66.00"
	"angles" "0.00 0.00 0.00"
}
; --- repurpose log as a ladder indicator
{
	"classname" "prop_dynamic"
	"angles" "0 258 90"
	"disableshadows" "1"
	"model" "models/props_foliage/swamp_fallentree_dry01.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "1865 3335 -312"
}
; --- ladder onto third destroyed house
{
	"model" "*27"
	"normal.z" "0.07"
	"normal.y" "0.00"
	"normal.x" "0.99"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "2049.99 5496.00 -26.05"
	"angles" "0.00 180.00 0.00"
}
; --- invisible block in water near third destroyed house where players can get completely submerged if crouching
{
	"origin" "4924 2519 -43"
	"mins" "-300 -230 -10"
	"maxs" "0 0 0.1"
	"initialstate" "1"
	"BlockType" "0"
	"classname" "env_physics_blocker"
}
; --- ladder over barricade at very end
{
	"model" "*27"
	"normal.z" "0.07"
	"normal.y" "0.99"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5070.00 -1770.00 102.00"
	"angles" "0.00 270.00 0.00"
}
; --- two-part ladder over barricade from the swamp pit on the left
{
	"model" "*27"
	"normal.z" "0.24"
	"normal.y" "0.96"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5806.00 -1753.02 -451.24"
	"angles" "10.00 270.00 0.00"
}
{
	"model" "*27"
	"normal.z" "0.24"
	"normal.y" "0.96"
	"normal.x" "-0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5806.00 -1787.02 -321.24"
	"angles" "10.00 270.00 0.00"
}
; --- ladder over barbed wire right before end saferoom
{
	"model" "*27"
	"normal.z" "0.07"
	"normal.y" "-0.00"
	"normal.x" "-0.99"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "9794.00 -3961.00 50.30"
	"angles" "0.00 0.00 0.00"
}
; --- ramp on other side of above ladder
{
	"classname" "prop_dynamic"
	"angles" "0 90 30"
	"disableshadows" "1"
	"model" "models/props_swamp/plank001b_192.mdl"
	"rendercolor" "255 255 255"
	"solid" "6"
	"origin" "7837 -683 177"
}
; --- ladder onto end saferoom where promod log was
{
	"model" "*27"
	"normal.z" "0.07"
	"normal.y" "0.99"
	"normal.x" "0.00"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "4038.00 -2806.50 91.00"
	"angles" "0.00 270.00 0.00"
}
; --- prop for above ladder
{
	"classname" "prop_dynamic"
	"angles" "0 168 90"
	"disableshadows" "1"
	"model" "models/props_foliage/swamp_fallentree_dry01.mdl"
	"rendercolor" "255 255 255"
	"solid" "0"
	"origin" "7309 -763 -282"
}
; --- alternate ladder onto ending saferoom from side
{
	"model" "*27"
	"normal.z" "0.07"
	"normal.y" "0.00"
	"normal.x" "0.99"
	"team" "2"
	"classname" "func_simpleladder"
	"origin" "5710.00 2284.00 136.00"
	"angles" "0.00 180.00 0.00"
}
; --- make tree next to end saferoom solid
{
	"solid" "6"
	"origin" "7849 -791 126"
	"angles" "0 203 0"
	"model" "models/props_foliage/urban_tree_giant01.mdl"
	"disableshadows" "1"
	"rendermode" "10"
	"classname" "prop_dynamic"
}
