; =====================================================
; ==           INFECTED CLIP / TRIGGER FIX           ==
; ==  Remove or fix clips and triggers for infected  ==
; =====================================================
; --- Remove infected clips
filter:
{
	"classname" "func_playerinfected_clip"
}
; --- Change ghost hurt triggers into regular hurt triggers
modify:
{
	match:
	{
		"classname" "trigger_hurt_ghost"
	}
	replace:
	{
		"classname" "trigger_hurt"
	}
}

; =====================================================
; ==            PILL CABINET MAX OVERRIDE            ==
; ==              Pill cabinet max pills             ==
; =====================================================
; --- Limit pill cabinets to a max of 2 pills
; --- This can be manually overridden on each map, as global filters runs first
modify:
{
	match:
	{
		"model" "models/props_interiors/medicalcabinet02.mdl"
	}
	replace:
	{
		"HealthCount" "2"
	}
}

; =====================================================
; ==               PORTA POTTY DOOR FIX              ==
; ==         Make porta potty doors breakable        ==
; =====================================================
modify:
; --- Flags for starting closed
{
	match:
	{
		"classname" "prop_door_rotating"
		"model" "models/props_urban/outhouse_door001.mdl"
		"spawnflags" "532480"
	}
	replace:
	{
		"spawnflags" "8192"
	}
}
; --- Flags for starting open
{
	match:
	{
		"classname" "prop_door_rotating"
		"model" "models/props_urban/outhouse_door001.mdl"
		"spawnflags" "532481"
	}
	replace:
	{
		"spawnflags" "8193"
	}
}

; =====================================================
; ==                   SOUND FIXES                   ==
; ==             Remove or fix map sounds            ==
; =====================================================
filter:
{
	"classname" "env_soundscape"
}

; =====================================================
; ==             COMPETITIVE ITEM SPAWNS             ==
; ==        Remove non-competitive item spawns       ==
; =====================================================
; --- Gas Cans
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item8" "0"
	}
}
filter:
{
	"classname" "prop_physics"
	"model" "models/props_junk/gascan001a.mdl"
}
{
	"classname" "weapon_gascan_spawn"
}
{
	"classname" "weapon_gascan"
}
; --- Propane Tanks
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item7" "0"
	}
}
filter:
{
	"classname" "prop_physics"
	"model" "models/props_junk/propanecanister001a.mdl"
}
{
	"classname" "weapon_propanetank_spawn"
}
{
	"classname" "weapon_propanetank"
}
; --- Oxygen Tanks
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item6" "0"
	}
}
filter:
{
	"classname" "prop_physics"
	"model" "models/props_equipment/oxygentank01.mdl"
}
{
	"classname" "weapon_oxygentank_spawn"
}
{
	"classname" "weapon_oxygentank"
}
; --- Molotovs
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item3" "0"
	}
}
filter:
{
	"classname" "weapon_molotov_spawn"
}
{
	"classname" "weapon_molotov"
}
; --- Pipe Bombs
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item5" "0"
	}
}
filter:
{
	"classname" "weapon_pipe_bomb_spawn"
}
{
	"classname" "weapon_pipe_bomb"
}
; --- Bile Jars
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item13" "0"
	}
}
filter:
{
	"classname" "weapon_vomitjar_spawn"
}
{
	"classname" "weapon_vomitjar"
}
; --- Defibrillators
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item12" "0"
	}
}
filter:
{
	"classname" "weapon_defibrillator_spawn"
}
{
	"classname" "weapon_defibrillator"
}
; --- Adrenaline
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item11" "0"
	}
}
filter:
{
	"classname" "weapon_adrenaline_spawn"
}
{
	"classname" "weapon_adrenaline"
}
; --- Grenade Launchers
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item17" "0"
	}
}
filter:
{
	"classname" "weapon_grenade_launcher_spawn"
}
{
	"classname" "weapon_grenade_launcher"
}
; --- Chainsaws
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item16" "0"
	}
}
filter:
{
	"classname" "weapon_chainsaw_spawn"
}
{
	"classname" "weapon_chainsaw"
}
; --- M60
modify:
{
	match:
	{
		"classname" "weapon_item_spawn"
	}
	replace:
	{
		"item18" "0"
	}
}
filter:
{
	"classname" "weapon_rifle_m60_spawn"
}
{
	"classname" "weapon_rifle_m60"
}
; --- Upgrade Packs
filter:
{
	"classname" "upgrade_spawn"
}
{
	"classname" "weapon_upgradepack_explosive_spawn"
}
{
	"classname" "weapon_upgradepack_incendiary_spawn"
}
